@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');

.container {
    margin: auto;
    position: relative;
    height: 20px;
    overflow: hidden;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
}

h1 {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: .5rem;
    padding-left: 4px;
    z-index: 1;
    background: black;
    width: 100%;
    mix-blend-mode: multiply ;
}
h1, .gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gradient { 
    height: 130px;
    width: 300%;
    background: linear-gradient(90deg, rgb(255,145,0), rgb(240,99,2),rgb(250,186,10),rgb(224,240,8),rgb(152,245,5),
    rgb(52,245,4), rgb(4,245,104), rgb(4,245,233), rgb(4,159,245), rgb(4,96,245), rgb(4,40,245));
    animation: gradient 2s linear infinite alternate ;

}
.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgba(31, 41, 55, var(--tw-text-opacity));
}

.text-lg {
    font-size: 1.125rem;
}

@keyframes gradient {

    0% {
        transform: translate(-25%, -50%);
    }
    100% {
        transform: translate(-75%, -50%);
    }
}

@media (min-width: 1024px) {
    .container {
    margin: auto;
    position: relative;
    height: 30px;
    overflow: hidden;
    width: 50%;
    border: none;
    border-radius: 0.5rem;
    }
}

@media (min-width: 1024px) {
    .lg\:text-xl {
        font-size: 1.25rem;
    }
}