.navbar {
  height: 71px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;

  .top-right {
      margin: 1px;
      padding-left: 1px;
      font-size: 13px;
      font-weight: 600;
      color: #888;
      margin-left: 10px;
      


  }

  .wrapper {
      width: 100%;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search {
          display: flex;
          align-items: center;
          border: 0.5px solid lightgray;
          padding: 2px;
          margin-left: 20px;
          
        


          input {
              border: none;
              outline: none;
              background: transparent;

              &::placeholder {
                  font-size: 12px;
              }
          }
      }

      .items {
          display: flex;
          align-items: center;

          .item {
              display: flex;
              align-items: center;
              margin-right: 10px;
              position: relative;
              border-radius: 80%;
              

              .icon {
                  font-size: 20px;
             
              }
              

              .avatar {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  object-fit: cover;
              }

              .counter {
                  width: 15px;
                  height: 15px;
                  background-color: red;
                  color: white;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 10px;
                  font-weight: bold;
                  position: absolute;
                  top: -5px;
                  right: -5px;
                  
              }
          }
      }
  }

}